@charset "utf-8"; 
body {
    margin: 0;
}
.heaader {
  width: 100%; 
  height: auto;
  background-color: #eef3f5;
  padding-top: 24px;
}
.headerContent {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  background: black;
}
.headerContent a img {
  width: 659px;
  height: 144px;
  margin: 0px auto;
  display: block;
}
    
